{% load static thumbnail stars core_tags humanize %}
{% for deal in latest_deals %}
{% with offer=deal.offer %}
<div class="table__row">
    <div class="table__col table__col--name">{{ offer }}</div>
    <div class="table__col">
        <div class="user-info">
            {% if offer.seller.avatar %}
            {% thumbnail offer.seller.avatar.image "30x30" crop="center" as thumb %}
            <img src="{{ thumb.url }}">
            {% endthumbnail %}
            {% else %}
            <img src="{% static 'img/no-avatar-sm.jpg' %}" alt="">
            {% endif %}
            <div>
                <a href="{% url 'core:profile_page' offer.seller.name %}">{{ offer.seller }}</a>
                {% if offer.seller.rating.value > 0  %}
                <div class="rating">
                    <span class="rating__number">{{ offer.seller.rating.value|floatformat }}</span>
                    {% starrating offer.seller.rating.value %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="table__col">
        <div class="user-info">
            {% if offer.buyer %}
            {% if offer.buyer.avatar %}
            {% thumbnail offer.buyer.avatar.image "30x30" crop="center" as thumb %}
            <img src="{{ thumb.url }}">
            {% endthumbnail %}
            {% else %}
            <img src="{% static 'img/no-avatar-sm.jpg' %}" alt="">
            {% endif %}
            <div>
                <a href="{% url 'core:profile_page' offer.buyer.name %}">{{ offer.buyer }}</a>
                {% if offer.buyer.rating.value > 0  %}
                <div class="rating">
                    <span class="rating__number">{{ offer.buyer.rating.value|floatformat }}</span>
                    {% starrating offer.buyer.rating.value %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="table__col"><span class="table__price">{{ offer.price|priceformat }}$</span></div>
    <div class="table__col"><span class="table__status table__status_disabled">{{ offer.status_changed_at|naturaltime|naturaltimefix }}</span></div>
</div>
{% endwith %}
{% endfor %}
