{% extends 'layouts/base.html' %}
{% load static thumbnail stars core_tags i18n %}
{% block main %}
<section class="profile">
    <div class="content">
        <div class="profile__user-info">
            {% if account.avatar %}
            {% thumbnail account.avatar.image "130x130" crop="center" as thumb %}
            <img src="{{ thumb.url }}">
            {% endthumbnail %}
            {% else %}
            <img src="{% static 'img/no-avatar.jpg' %}" alt="">
            {% endif %}
            <p{% if account.is_long_name %} title="{{ account.full_name }}"{% endif %}>{{ account }}</p>
            <div class="profile__user-registered">
                <div class="profile__user-registered-icon">{% include "include/svg/calendar.html" %}</div>
                <div class="profile__user-registered-title">{% trans "Registered on" %} {{ account.created_at|date:'d.m.Y' }}</div>
            </div>
            {% if account.rating.value > 0 %}
            <div class="rating">
                <span class="rating__number">{{ account.rating.value|floatformat }}</span>
                {% starrating account.rating.value %}
            </div>
            {% endif %}
            <div class="social">
                {% if account.twitter %}
                <a href="https://twitter.com/{{ account.twitter }}" target="_blank">
                    {% include "include/svg/twitter.html" %}
                </a>
                {% endif %}
                {% if account.telegram %}
                <a href="https://t.me/{{ account.telegram }}" target="_blank">
                    {% include "include/svg/telegram.html" %}
                </a>
                {% endif %}
                <a href="https://bscscan.com/address/{{ account.wallet }}" target="_blank" class="social--bscscan">
                    {% include "include/svg/bscscan.html" %}
                </a>
            </div>
        </div>
        <div class="tabs">
            <div class="tabs__choose">
                <button data-tab="1" class="active">{% trans "WTB Offers" %}</button>
            </div>
            <div class="tabs__container">
                <div class="tab" data-tab="1">
                    {% with wtb_requests=account.wtb_requests.all %}
                    {% if wtb_requests|length > 0 %}
                    <div class="table table_my-profile{% if wtb_requests|length > 5 %} table--h420{% endif %}">
                        <div class="table__head">
                            <div class="table__row">
                                <div class="table__col">{% trans "Name" %}</div>
                                <div class="table__col">{% trans "User" %}</div>
                                <div class="table__col">{% trans "Price" %}</div>
                                <div class="table__col">{% trans "Status" %}</div>
                                <div class="table__col"></div>
                            </div>
                        </div>
                        <div class="table__body" ss-container>
                            {% for wtb_request in wtb_requests %}
                            <div class="table__row">
                                <div class="table__col table__col--name"><span{% if wtb_request.is_long_name %} title="{{ wtb_request.name }}"{% endif %}>{{ wtb_request }}</span></div>
                                <div class="table__col">
                                    <div class="user-info">
                                        {% if account.avatar %}
                                        {% thumbnail account.avatar.image "30x30" crop="center" as thumb %}
                                        <img src="{{ thumb.url }}">
                                        {% endthumbnail %}
                                        {% else %}
                                        <img src="{% static 'img/no-avatar-sm.jpg' %}" alt="">
                                        {% endif %}
                                        <div>
                                            <span{% if wtb_request.account.is_long_name %} title="{{ wtb_request.account.full_name }}"{% endif %}>{{ wtb_request.account }}</span>
                                            {% if wtb_request.account.rating.value > 0  %}
                                            <div class="rating">
                                                <span class="rating__number">{{ wtb_request.account.rating.value|floatformat }}</span>
                                                {% starrating wtb_request.account.rating.value %}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="table__col"><span class="price">{{ wtb_request.price|priceformat }}$</span></div>
                                <div class="table__col table__col--{{ wtb_request.status }}"><span class="table__status offer__status--{{ wtb_request.status }}">{{ wtb_request.get_status_display }}</span></div>
                                <div class="table__col">
                                    <a href="{% url 'core:edit_wtb_request_page' wtb_request.pk %}" class="btn">{% trans "Edit" %}</a>
                                    <button class="btn btn_red" data-popup="delete" data-popup-redirect="{% url 'core:delete_wtb_request' wtb_request.pk %}">{% trans "Delete" %}</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <div class="empty-offer">
                        {% trans "You have no WTB offers. You can create a new WTB offers yourself." %}
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% if account.is_active %}
                    {% if account.is_profile_filled %}
                    <button class="btn profile__addOffer" data-popup="addOffer">{% trans "Add offer" %}</button>
                    {% else %}
                    <button class="js-notify-fill-profile btn profile__addOffer">{% trans "Add offer" %}</button>
                    {% endif %}
                    {% else %}
                    <button class="js-notify-blocked btn profile__addOffer">{% trans "Add offer" %}</button>
                    {% endif %}
                </div>
            </div>
    </div>
</section>
<div class="popup" id="delete">
    <img src="{% static 'img/warning-img.png' %}" alt="">
    <p class="popup__caption">{% trans "Are you sure you want to delete?" %}</p>
    <p class="popup__subcaption">{% trans "Do you really want to delete this WTB offer?" %}</p>
    <div class="btn-line">
        <button class="btn btn_light js-close-popup">{% trans "Cancel" %}</button>
        <button class="btn btn_red js-confirm-button">{% trans "Delete" %}</button>
    </div>
</div>
{% endblock %}
