{% load static core_tags humanize i18n thumbnail %}
{% for notification in notifications %}
<div class="notifications__card{% if not notification.is_seen %} notifications__card--accent{% endif %}">
    <div class="notifications__card-avatar">
    {% with contragent=notification|notification_contragent:auth.account %}
    {% if contragent.avatar %}
    {% thumbnail contragent.avatar.image "38x38" crop="center" as thumb %}
    <img src="{{ thumb.url }}">
    {% endthumbnail %}
    {% else %}
        <img src="{% static 'img/no-avatar-md.jpg' %}" alt="">
    {% endif %}
    {% endwith %}
    </div>
    <div class="notifications__card-title">{{ notification.render_message|safe }}</div>
    <div class="notifications__card-time">{{ notification.created_at|naturaltime|naturaltimefix }}</div>
</div>
{% endfor %}
