{% extends 'layouts/base.html' %}
{% block main %}
<section class="rules">
    <div class="content">
        <h1>FAQ</h1>
        <p><p><br><b>What is this service for?</b>
            <br>Fomo.rip is a marketplace for OTC (Over The Counter) deals, where you can buy a spot on the whitelist of a new NFT collection, for example. Or sell previously won allocations on the Coinlist. 
            In general, you can buy or sell something that is not yet on the exchanges or the NFT market.
            <p><p><br><b>How to use it?</b>
            <br>To start using the service you just need to connect your wallet to the site and fill out your profile. Then you will be able to publish your offers and participate in trades with other sellers. Service acts as a guarantor in the deals - all the money will be stored on the smart contract until the deal is successfully closed. At the moment the commission of the service is only 1%. You can read more detailed guide in our <a href="https://medium.com/@fomorip/how-to-use-fomo-rip-90a81c96613b" target="_blank" rel="noopener">Medium</a> or watch a video overview of <a href="https://youtu.be/EWvXAlSIIQE" target="_blank" rel="noopener">the main functions</a> and <a href="https://youtu.be/LMaXjgRyB-U" target="_blank" rel="noopener">the deal process</a>.
            <p><p><br><b>Who pays the service fee?</b>
            <br>The commission is taken from a buyer's payment, that is, for example, if the seller in his offerer specified a price of $ 200, the commission will be $ 2. And the seller after the successful closing of the deal will receive the amount of his deposit + $ 198.
            <p><p><br><b>How can I see your smart contract?</b>
            <br>Our smart contract is verified and open. You can check it on <a href="https://bscscan.com/address/0xf43991C2E9BB7A4065a6F725AA5AE577B06839B6" target="_blank" rel="noopener">Bscscan.</a>
            <p><p><br><b>Why do you have such a small commission?</b>
            <br>At this stage we are not trying to make money. It is important for us to build a convenient and useful product for the entire crypto community. That's why now the commissions are only symbolic so we can compensate a part of costs on platform maintenance.
            <p><p><br><b>In which network does the marketplace work?</b>
            <br>Fomo.rip works in the Binance Smartchain network.
            <p><p><br><b>What groups of goods are prohibited on the site?</b>
            <br>The following groups of digital goods and services may not be published on our site: art, bots, soft, discord invites, courses and learning, darknet services, KYC and any verifications, other illegal.
            All of this is stated in our rules.
            <p><p><br><b>How do I contact the seller?</b>
            <br>Every user must fill out a profile, including social media accounts, before engaging in deals. It is through social networks that you can discuss all the details of the deal and then proceed with the trade. 
            <p><p><br><b>Why timers?</b>
            <br>Timers are used to speed up the deal. Timers also contribute to a more responsible attitude of both parties to their actions.
            <p><p><br><b>Why is it necessary to approve every deal with a wallet?</b>
            <br>We have a smart contract written so that each new deal, he gets permission to write off only the amount from your wallet, which is necessary under the terms of the specific deal. This allows you to increase the security of the site.
            <p><p><br><b>Why do I need a deposit?</b>
            <br>A deposit serves as collateral on the seller's side. This allows the buyer to be protected from any potential risks of a scam. 
            <br>For example, if there is a deal, where 1 place is sold in the whitelist of NFT collection mint. The price of the offer is 150$, and the price of the mint is 400$.
            <br>Then the seller should specify the deposit amount of $400. If he specified an amount less, the buyer risks being scammed, because the seller will still have access to the wallet he sells to participate in the mint and he can steal your funds.
            <br>So before you start the deal, check all the conditions of the offer and if the deposit is not enough, then just ask the seller to edit it
            <p><p><br><b>I am a seller, what deposit should I specify in the offer? When will I get my deposit back?</b>
            <br>The deposit is better to specify the maximum allocation, if this is the place in the IDO new token. Or in the value of mint if it's a whitelist for a new NFT collection.
            <br>Immediately after completing the deal, the Claim button will open for you and you can collect your deposit as well as the amount of the deal.
            <p><p><br><b>When do I wait for the deal to complete?</b>
            <br>Every offer and deal is individual. For example, if you buy an allocation that has already been paid for, you usually need to change your passwords if possible and close the deal. And if you buy a place in the whitelist nft collection, you need to close the deal only after a successful mint and transfer of a new nft to a safe wallet.
            <p><p><br><b>What should i do if i was scammed by a seller?</b>
            <br>If you have already paid for the deal, but you encounter fraud or for some objective reasons want to terminate the deal, you can click Cancel and describe the problem. You will get your full refund minus the service fee.
            <p><p><br><b>What should I do if I was cheated by the buyer?</b>
            <br>If you provided an item but you encounter fraud or the buyer doesn't complete the deal, you can click Cancel and describe the problem. You will be refunded your deposit.
            <p><p><br><b>What should I do if I encounter a bug?</b>
            <br>Just write to our telegram support - <a href="https://t.me/fomorip" target="_blank" rel="noopener">@fomorip</a>. We are happy for any useful feedback from service users.
            <p><p><br><b>Do you have your own affiliate program?</b>
            <br>Yes, we work with partners on revshare model and our payments are up to 55% of the deal amount. Contact our <a href="https://t.me/fomorip" target="_blank" rel="noopener">support team</a> if you want to get your referral link.
    </div>
</section>
{% endblock %}
